@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Para monitores tipo laptop (entre 1024px e 1535px de largura) */
  @media (min-width: 1024px) and (max-width: 1535px) {
    html {
      font-size: 80%; /* Reduz tudo que usa REM no site em 20% */
    }
  }
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .button-hover {
    @apply transition-all duration-200 ease-out;
  }

  .button-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.45);
  }

  .button-hover:active {
    transform: translateY(-1px);
  }
}
